body {
  font-family: Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3 {
  padding: 0;
  margin: 0;
}
#navigation {
  background-color: #0060b2;
  height: 150px;
  display: flex;
  align-items: center;
}
#navigation ul {
  color: #fff;
  list-style: none;
  font-size: 24px;
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
}
#navigation ul li {
  cursor: pointer;
}
#navigation div {
  flex-grow: 3;
}
#navigation button {
  width: 200px;
  height: 100%;
  color: #fff;
  background-color: #ffcc08;
  font-size: 24px;
}
.selected {
  text-decoration: underline;
}
#banner {
  background-image: url('../img/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 930px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#banner h1 {
  font-size: 100px;
}
#banner .text {
  font-size: 45px;
  width: 80%;
}
#what {
  background-color: #ffcc08;
  color: #fff;
  display: flex;
  width: 100%;
  height: 930px;
  align-items: center;
  padding: 50px;
}
#what .text {
  font-size: 24px;
  width: 700px;
}
#what img {
  width: 600px;
  height: 600px;
}
#how {
  background-color: #ff0051;
  color: #ffcc08;
  display: flex;
  width: 100%;
  height: 930px;
  align-items: center;
  padding: 50px;
}
#how .text {
  font-size: 24px;
  width: 700px;
}
#how img {
  width: 600px;
  height: 600px;
}
#who {
  color: #4d4d4d;
  display: flex;
  width: 100%;
  height: 930px;
  align-items: center;
  padding: 50px;
}
#who .text {
  font-size: 24px;
  width: 700px;
}
h1 {
  font-size: 5rem;
}
.hero {
  display: block;
  width: 100%;
}
.herotext {
  display: inline-block;
  position: relative;
  right: 700px;
  bottom: 217px;
}
.articles {
  background: linear-gradient(white 30%, #bc0303 30%);
}
#background {
  background: linear-gradient(white 30%, #ffed4b 30%);
}
.footer {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  width: 100%;
}
.footer .pikachu {
  position: relative;
  left: 300px;
  margin: 24px 4%;
}
.links {
  position: relative;
  left: 700px;
}
.links img {
  display: block;
  width: 350px;
  padding: 0px;
  margin: 24px 5%;
}
.footer-p {
  background: #ffed4b;
}
.footer-p .footer-a {
  width: 40%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.footer-p .footer-a a {
  text-decoration: none;
  color: black;
}
.article {
  margin: 24px 4%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 200px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
