body {
  font-family: Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3 {
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #fff;
}
#navigation {
  background-color: #0060b2;
  height: 150px;
  display: flex;
  align-items: center;
}
#navigation .goLogo {
  width: 200px;
  height: auto;
}
#navigation .arrow {
  display: none;
}
@media (max-width: 800px) {
  #navigation .arrow {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
#navigation .pkicon {
  width: 15px;
  height: 15px;
}
#navigation ul {
  color: #fff;
  list-style: none;
  font-size: 24px;
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  #navigation ul {
    display: none;
  }
}
#navigation ul li {
  cursor: pointer;
}
#navigation div {
  flex-grow: 3;
}
#navigation button {
  width: 200px;
  height: 100%;
  color: #fff;
  background-color: #ffcc08;
  font-size: 24px;
}
.not-selected {
  display: none;
}
#drawer-nav {
  position: absolute;
  width: 100%;
  height: 100px;
}
#drawer-nav ul {
  list-style: none;
  font-size: 24px;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ff0051;
  color: #fff;
}
#drawer-nav ul li {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
#drawer-nav ul :hover {
  background-color: #ffcc08;
  cursor: pointer;
}
.drawer-out {
  z-index: 1;
  top: 100;
}
.drawer-hide {
  z-index: -1000;
  top: 0;
}
#banner {
  background-image: url('../img/landscape.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0 0;
  width: 100%;
  height: 930px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: animate 30s linear infinite;
}
@media (max-width: 800px) {
  #banner {
    height: 600px;
  }
}
#banner h1 {
  font-size: 8vw;
}
#banner .text {
  font-size: 3vw;
  width: 80%;
}
#what {
  background-color: #ffcc08;
  color: #fff;
  display: flex;
  width: 100%;
  height: 930px;
  align-items: center;
  padding: 50px;
}
@media (max-width: 800px) {
  #what {
    flex-direction: column;
    padding: 50px 0 0 0;
    height: 600px;
  }
}
#what h2 {
  font-size: 4vw;
}
#what .text {
  font-size: 3vw;
  width: 700px;
}
@media (max-width: 800px) {
  #what .text {
    width: 80%;
  }
}
#what img {
  width: 600px;
  height: 600px;
}
@media (max-width: 800px) {
  #what img {
    width: 300px;
    height: 300px;
  }
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#how {
  background-color: #ff0051;
  color: #ffcc08;
  display: flex;
  width: 100%;
  height: 930px;
  align-items: center;
  padding: 50px;
}
@media (max-width: 800px) {
  #how {
    flex-direction: column;
    padding: 50px 0 0 0;
    height: 600px;
  }
}
#how h2 {
  font-size: 4vw;
}
#how .text {
  font-size: 3vw;
  width: 700px;
}
@media (max-width: 800px) {
  #how .text {
    width: 80%;
  }
}
#how img {
  width: 600px;
  height: 600px;
}
@media (max-width: 800px) {
  #how img {
    width: 300px;
    height: 300px;
  }
}
#who {
  color: #4d4d4d;
  display: flex;
  width: 100%;
  height: 930px;
  align-items: center;
  padding: 50px;
}
@media (max-width: 800px) {
  #who {
    height: 600px;
  }
}
#who h2 {
  font-size: 4vw;
}
#who .text {
  font-size: 3vw;
  width: 700px;
}
@media (max-width: 800px) {
  #who .text {
    width: 80%;
  }
}
h1 {
  font-size: 5rem;
}
.hero {
  display: block;
  width: 100%;
}
.herotext {
  display: inline-block;
  position: relative;
  right: 700px;
  bottom: 217px;
}
.articles {
  background-color: #d10c37;
  width: 100%;
  margin: 0;
}
#background {
  background: linear-gradient(white 30%, #ffed4b 30%);
}
